<div *ngIf="drawing" class="drawing-details page-container">
  <button class="back-button" (click)="goBack()">
    <span class="arrow"></span> Retour
  </button>

  <div class="info-container">
    <h2>{{ drawing.tePartNumber }}</h2>
    <div class="info-row">
      <div class="label">Customer PN:</div>
      <div class="value">{{ drawing.customerPN }}</div>
    </div>
    <div class="info-row">
      <div class="label">Project Number:</div>
      <div class="value">{{ drawing.projectNumber }}</div>
    </div>
    <div class="info-row">
      <div class="label">OEM:</div>
      <div class="value">{{ drawing.oem }}</div>
    </div>
    <div class="info-row">
      <div class="label">Harness Maker:</div>
      <div class="value">{{ drawing.harnessMaker }}</div>
    </div>
    <div class="info-row">
      <div class="label">Number of Connectors:</div>
      <div class="value">{{ drawing.numberOfConnectors }}</div>
    </div>
  </div>

  <div class="image-container">

    <img class="drawing-image" [src]="drawing.imagePath" alt="Drawing Image">

  </div>
  <div class="right-container">
    <h3>Components:</h3>
    <div class="component-list">
      <div class="left-column">
        <h4>Left Side:</h4>
        <ul>
          <li *ngFor="let component of getComponentsBySide('left')" class="component-item">
            {{ component.componentId }}
          </li>
        </ul>
      </div>
      <div class="right-column">
        <h4>Right Side:</h4>
        <ul>
          <li *ngFor="let component of getComponentsBySide('right')" class="component-item">
            {{ component.componentId }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="file-container">
    <h3>Downloadable Files:</h3>
    <ul>
      <li class="file-item">
        <a href="{{drawing.cdPath}}" >cdPath </a><br>
        <a href="{{drawing.pdPath}}">pdPath </a><br>
        <a href="{{drawing.excelFilePath}}"> SmartAssembly </a>
      </li>
    </ul>
  </div>
</div>
