<!-- Error page-->
<div class="misc-wrapper" style="
   background-image: url(assets/images/pages/error.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;">
  <a class="brand-logo" href="javascript:void(0);">
    <img alt="brand-logo" height="75" src="{{ coreConfig.app.appLogoImage }}" width="154"/>
  </a>
  <div class="misc-inner p-2 p-sm-3" style="background-color: #ffffffba;border-radius: 6%;top: 30px;">
    <div class="w-100 text-center">
      <div class="error-content">
        <h1>HMMM, LET'S TRY AGAIN</h1>
        <p></p>
        <p><b>THE PAGE YOU REQUESTED IS UNAVAILABLE.</b></p>
        <p><b>Here are some options:</b></p>
        <p>- Visit our&nbsp;<a href="/">Home Page</a></p>

        <p>- Contact a <a href="/">
          Specialist</a></p>
        <a class="btn btn-primary mb-2 btn-sm-block" rippleEffect routerLink="">Back to Home</a>
      </div>
    </div>
  </div>
</div>
<!-- / Error page-->
