<div class="slideout-content">
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form #ConfigurationForm="ngForm" (ngSubmit)="(ConfigurationForm.form.valid)" class="add-new-user modal-content pt-0">
                <button
                        (click)="toggleSidebar('edit-production-note')"
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button">
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Customer Note</h5>
                </div>
                <div class="modal-body flex-grow-1">


                    <div class="form-group">
                        <label class="form-label" for="description">Note</label>

                        <textarea
                                [(ngModel)]="this.productionNote.description"
                                aria-describedby="Description"
                                aria-label="jdoe1"
                                class="form-control dt-uname"
                                id="description"
                                name="description"
                                rows="10"
                                type="text">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="order">order</label>
                        <input
                                [(ngModel)]="this.productionNote.order"
                                aria-describedby="length"
                                aria-label="jdoe1"
                                class="form-control dt-uname"
                                id="order"
                                name="order"
                                type="number"
                        />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="status">Status</label>
                        <ng-select #FConfigurationStatusRef="ngModel" [(ngModel)]="productionNote.status"
                                   [class.error]="ConfigurationForm.submitted && FConfigurationStatusRef.invalid"
                                   [clearable]="false" [searchable]="false" id="status" name="status"
                                   required>
                            <ng-option [value]="status().Active">Active</ng-option>
                            <ng-option [value]="status().Inactive">Inactive</ng-option>
                        </ng-select>

                        <span *ngIf="ConfigurationForm.submitted && FConfigurationStatusRef.invalid" class="invalid-form">
              <small *ngIf="FConfigurationStatusRef.errors.required" class="form-text text-danger">This field is required!</small>
            </span>


                    </div>
                    <button (click)="submit(ConfigurationForm)" class="btn btn-primary mr-1" rippleEffect type="submit">
                        Submit
                    </button>
                    <button
                            (click)="toggleSidebar('edit-production-note')"
                            class="btn btn-outline-secondary"
                            rippleEffect
                            type="reset"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
