.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.frontDialog{
    z-index: 9999; /* Use a high z-index value to ensure it appears in front */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
  }
  
  .pagination-button:disabled {
    cursor: not-allowed;
  }
  
  .pagination-text {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    color: #E98300;
  }
  
  .pagination-button i {
    font-size: 20px;
  }
  .pagination-button img {
    width: 20px; 
    height: 20px; 
    margin-top: 3px; 
  }  
  .filter-obsolete{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  
  .filter-obsolete label{
    font-size: large;
  }

/* Style the custom checkbox container */
.custom-checkbox {
  position: relative;
  padding-left: 30px; /* Adjust the spacing as needed */
  cursor: pointer;
  user-select: none;
}

/* Hide the default checkbox input */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #E98300;
  border-radius: 50%;
}

/* Style the custom checkbox when checked */
.custom-checkbox input:checked + .checkmark {
  background-color: #E98300;
}

/* Create a custom checkmark/indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked + .checkmark:after {
  display: block;
}

/* Style the checkmark */
.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


  .errorMsg{
    display: flex;
    align-items: center;
    justify-content: center;
  }

 /* unused stylings
  .form-control {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .autocomplete-item {
    padding: 8px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.2s;
  }
  
  .autocomplete-item:hover {
    background-color: #ffebcc; 
  }
  .autocomplete-item:hover{
    color: #E98300; 
  }
  
  .autocomplete-item span {
    transition: color 0.2s;
  }
  
*/