@import '@core/scss/core.scss';
@import './assets/scss/styles';

// ngx-toastr css
@import '~ngx-toastr/toastr.css';

// extended toastr scss
@import '~@core/scss/base/plugins/extensions/ext-component-toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 100%;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 100%;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 100%;
    }
  }
  @media (min-width: 1440px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 100%;
    }
  }
